* {
  padding: 0;
  margin: 0;
}
.w {
  width: 955px;
  margin: 0 auto;
}
.hearder {
  display: flex;
  height: 117px;
  line-height: 117px;
  background-color: #232939;
}
.hearder .pay_page {
  width: 47px;
  height: 53px;
  margin-left: 39px;
}
.hearder span {
  font-size: 47px;
  color: #f8fcff;
  font-weight: bold;
}
.hearder .pay_title {
  margin-left: 34px;
  font-size: 38px;
  color: #faffff;
  flex: 1;
}
.hearder .userinfo {
  width: 18px;
  height: 46px;
}
.hearder .gongju {
  width: 352px;
  display: flex;
  justify-content: space-around;
}
.section {
  height: 168px;
  background-color: #232939;
  display: flex;
  justify-content: space-around;
  padding: 86px 0 58px 0;
}
.section .box:hover {
  cursor: pointer;
  color: skyblue!important;
}
.section .box {
  width: 103px;
  height: 168px;
  float: left;
  color: #f8fcff;
  font-weight: bold;
  text-align: center;
}
.section .box span {
  font-size: 100px;
}
.section .box p {
  font-size: 34px;
}
.main {
  height: 645px;
  width: 956px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.main .box:hover {
  cursor: pointer;
}
.main .box {
  width: 239px;
  height: 215px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  border: 1px solid gray;
  float: left;
  box-sizing: border-box;
}
.main .box span {
  font-size: 48px;
  color: #fd6361;
  height: 78px;
  line-height: 78px;
}
.main .box p {
  font-size: 30px;
  color: #2e2e2e;
  height: 62px;
  line-height: 62px;
}
.banner {
  height: 218px;
  padding: 30px 0 10px 0;
  background-color: #f3f4f8;
  border-top: 1px solid #d8d7dc;
  border-bottom: 1px solid #d8d7dc;
}
.banner img {
  width: 100%;
}
.footer {
  height: 130px;
  background-color: #f9fafc;
  display: flex;
}
.footer .box:hover {
  color: blue;
  cursor: pointer;
}
.footer .box {
  float: left;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.footer .box span {
  font-size: 60px;
  order: 1;
}
.footer .box p {
  font-size: 26px;
}
